<li>
	{{burger_name}}

	<button class="change-eat" data-id="{{id}}" data-newburger="{{sleep}}">
		{{#if sleep}}Time to eat!{{else}}WAKE UP!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
