<li>
	{{burger_name}}

	<button class="change-eat" data-id="{{id}}" data-newburger="{{sleep}}">
		{{#if sleep}}Devour{{else}}Devour!{{/if}}
	</button>

	<button class="delete-burger" id="dbt" data-id="{{this.id}}">DELETE!</button>
</li>
